// BODY CONTENT
.body-content
	// HERO LAYOUT
	section.hero-area
		// HERO IMAGE
		.block
			.img-wrap-cent
				img(src='./photos/home/abc.jpg')
		h1 discover the offer that fits you best
		article
	// NEWS LAYOUT
	.container
		section.amc_news.set-bg-white.for-desk
			h2 OUR OFFERS:
			.row
				.col-lg-4.col-md-12.col-sm-12.block
					article
						.img-wrap
							img(src="./photos/home/sh.jpg", alt="sh")
						aside
							a(href="")
								h3 application engineer
							label japan
							span Your Role:
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							.flag
								span language
								br
								img(src="imgs/home/04.png", alt="04")
							.media
								nav
									a(href="")
										img(src="imgs/home/05.png", alt="view")
									a(href="")
										img(src="imgs/home/06.png", alt="share")
				.col-lg-4.col-md-12.col-sm-12.block
					article
						.img-wrap
							img(src="./photos/home/sh.jpg", alt="sh")
						aside
							a(href="")
								h3 application engineer
							label japan
							span Your Role:
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							.flag
								span language
								br
								img(src="imgs/home/04.png", alt="04")
							.media
								nav
									a(href="")
										img(src="imgs/home/05.png", alt="view")
									a(href="")
										img(src="imgs/home/06.png", alt="share")
				.col-lg-4.col-md-12.col-sm-12.block
					article
						.img-wrap
							img(src="./photos/home/sh.jpg", alt="sh")
						aside
							a(href="")
								h3 application engineer application engineer application
							label japan
							span Your Role:
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category! Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category! Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category! Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category! Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category! Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							p - Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
							.flag
								span language
								br
								img(src="imgs/home/04.png", alt="04")
							.media
								nav
									a(href="")
										img(src="imgs/home/05.png", alt="view")
									a(href="")
										img(src="imgs/home/06.png", alt="share")
	// BUTTON LAYOUT
	.container
		section.amc_news.layout_btn.set-bg-white.for-desk
			h2 You may also want to
			.row
				.col-lg-4.col-md-12.col-sm-12.block
					a(href="")
						img(src="imgs/home/01.png", alt="01")
						span Learn more about us
				.col-lg-4.col-md-12.col-sm-12.block
					a(href="")
						img(src="imgs/home/02.png", alt="02")
						span Discover all our offers
				.col-lg-4.col-md-12.col-sm-12.block
					a(href="", class="apply-job")
						img(src="imgs/home/03.png", alt="03")
						span Spontaneous application