//- FOOTER LAYOUT
footer(class="main-foot")
	div(class="container")
		div(class="row")
			div(class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-full")
				h4 © Amaris 2016
				a(href="http://amaris.com/en/amaris-website/sitemap") Sitemap
				a(href="http://amaris.com/docs/default-source/default-document-library/terms-and-conditions.pdf") Terms and Conditions
			div(class="col-lg-6 col-md-6 col-sm-9 col-xs-9 col-xxs-full soci-mobile pull-right")
				h3 Follow us
				ul
					li
						a(target="_blank" href="https://www.linkedin.com/company/amaris")
							img(src="./imgs/layouts/linkedin.png" alt="linkedin")
					li
						a(target="_blank" href="https://www.facebook.com/amaris.official.page?fref=ts")
							img(src="./imgs/layouts/facebook.png" alt="facebook")
					li
						a(target="_blank" href="https://twitter.com/Amaris")
							img(src="./imgs/layouts/twitter.png" alt="twitter")
					li
						a(target="_blank" href="https://www.xing.com/companies/amaris")
							img(src="./imgs/layouts/xing.png" alt="xing")
					li
						a(target="_blank" href="https://plus.google.com/+amaris")
							img(src="./imgs/layouts/google.png" alt="google")
					li
						a(target="_blank" href="https://www.youtube.com/channel/UCQ4jIq4CDPg4vbutQCMrF8w")
							img(src="./imgs/layouts/youtube.png" alt="youtube")
include layout_contact_career
script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")