//- POPUP CONTACT LAYOUT
div(class="set-bg")
div(class="cont-form col-lg-6 col-md-9 col-sm-9 set-cent-abs set-cent-vert indx-huma")
	section
		div(class="container")
			div(class="row input-offer clear-row")
				div(class="left-area no-padding")
					div(class="form-group")
						div(class="title-group")
							h3 Personal information
						div(class="group-item")
							select
								option(value="") Require Subject *
								option(value="") Option I
								option(value="") Option II
								option(value="") Option III
						div(class="group-item")
							input(type="text" placeholder="First name")
						div(class="group-item")
							input(type="text" placeholder="Last name")
						div(class="group-item")
							input(type="text" placeholder="Email *")
						div(class="group-item")
							input(type="text" placeholder="Company *")
						div(class="group-item")
							input(type="text" placeholder="Country")
						div(class="group-item")
							textarea(name="" id="" cols="30" rows="10" placeholder="Message *")
						div(class="group-item")
							label capcha here
						input(type="file" name="pic" accept="image/*")
						a(class="btn-amaris btn-load")
			div(class="close-btn close")